$st-blue: #0f62fe;
$st-blue-60p-alpha: rgba(15, 142, 254, 0.6);
$st-white: #f1f1f1;
$st-white-60p-alpha: rgba(255, 255, 255, 0.6);
$st-black: rgba(0, 21, 41, 1);
$st-city-lights:rgba(223, 228, 234,1.0);
$body-font-family: 'Microsoft YaHei', 楷体, 黑体, 宋体, 'Times New Roman', Georgia, Serif;
$body-font-size: 14px;
$body-line-height: 24px;
$body-font-weight: 500;
$body-text-align: left;