:root {
    --bs-body-font-size: 14px;
    --tool-bar-height: 50px;
    --golden-sand: #eccc68;
    --china-red: #C8102E;
    --watermelon: #ff4757;
    --clear-chill: #1e90ff;
    --st-blue: #0072c9;
    --curious-blue: #3498db;
    --havelock-blue: #4183d7;
}

.full-screen {
  width: 100vw;
  height: 100%;
}

.d-none {
    display: none !important;
}

.d-full-height {
    height: 100%;
}

.d-full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}